<h1>Recipes#edit</h1>
<p>Find me in app/views/recipes/edit.html.erb</p>

<%= form_for @recipe do |f| %>
  <%= f.label :name %>:
  <%= f.text_field :name %><br />

  <%= f.label :instructions %>:
  <%= f.text_field :instructions %><br />

  <%= f.label :servings %>:
  <%= f.text_field :servings %><br />

  <%= f.label "Belongs to" %>:
  <%= f.text_field :course_id %><br />

  <%= f.submit %>
<% end %>
